/* GLOBAL STYLES
-------------------------------------------------- */
/*  */

body {
    padding-top: 10rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  
  /* CUSTOMIZE THE GALERIE...MOBILE FIRST!!!
  -------------------------------------------------- */
  div.gallery {
    margin: 5px;
    border:1px solid #ccc;
    border-radius: 10px;
  }

  div.gallery img {
    width: 100%;
    height: 100%;
  }

  div.desc {
    text-align: center;
  }

  img.zoom {
    transition: transform 0.8s;
  }

  img.zoom:hover {
    transform: scale(1.1, 1.1);
    z-index: 10;
    border-radius: 10px;
    filter: brightness(150%);
    filter: blur(0.1rem);
  }

  .center {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #mapid {
    height: 360px;
    margin: 5px;
    border:1px solid #ccc;
    border-radius: 10px;
  }
  
  @media (min-width: 50em) {
    img.zoom {
      transition: transform 0.8s;
    }

    img.zoom:hover {
      transform: scale(1.2, 1.2);
      z-index: 10;
      border-radius: 10px;
      filter: brightness(80%);
      filter: blur(0.1rem);
    }
  }