.column {
  float: left;
  width: 33.33%;
}
/* clear floats after columns */
.row:after {
  content:"";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

/* the navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
  margin-top: 20px;
  background: #ddd;
  text-align: center;
  padding: 20px;
}
